{% load static %}
<!DOCTYPE html>
<html style="--vh:9.53px;">
    
<head>
    

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta name="application-name" content="طاقچه">
<meta name="keywords" content="دانلود کتاب,کتاب الکترونیک,پی دی اف,pdf,epub,خرید کتاب,کتاب فارسی,رمان،">
<meta name="google-play-app" content="app-id=ir.mservices.mybook">
</head>

<title>
    {% block title %}

    {% endblock %}
</title>

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

<body>
    <header >
        <style>
            
        </style>

        <div dir="rtl" style="padding:30px;float:left">
            <a  href="{% url 'accounts:login' %}">    
              <sup>  <button style="border: none; 
                        color: black; padding: 5px 5px;
                        text-align: center; text-decoration: none;
                        display: inline-block; font-size: 22px; font-family:homa;
                         margin: -15px 0px;  cursor: pointer; background-color: white">
                ورود
                </button> </a></sup>
            </a> 
            </div>
        <div dir="rtl" style="padding:30px;float:left">
        <a  href="https://taaghche.com/download">    
          <sup>  <button style="border: none; 
                    color: white; padding: 5px 5px;
                    text-align: center; text-decoration: none;
                    display: inline-block; font-size: 16px; font-family:homa;
                     margin: -15px -30px;  cursor: pointer; background-color: #08929c">
            نصب طاقچه
            </button> </a></sup>
        </a> 
        </div>
       

        <div dir="rtl" >
            <img src="{% static '/img/logo1.png' %}"   width="120px" height="60px" alt="logo"> &nbsp
                <a style="font-family:homa; font-size:30px" href="/categories"> <sup> دسته‌بندی</sup></a> &nbsp
                <a style="font-family:homa; font-size:30px" href="/subscription"> <sup> بی‌نهایت </sup></a> &nbsp
                <a style="font-family:homa; font-size:30px" href="/audiobook"><sup>صوتی</sup></a> &nbsp
                <a style="font-family:homa; font-size:10px" href="/">جستجو ؟؟ - </a>
        </div>
        
       {% block banner %} 
     
        {% endblock %}    
        </div>

        </div>
    </header>

    {% block content %}

    {% endblock %}
   <div>


   </div>
    
    <footer >
    <div>
        <hr/>
    
        <div dir="rtl" style="padding:30px;float:left">
            <h5>وبلاگ طاقچه</h5>
            <ul>
                <li><a title="رمان جدید">رمان جدید</a></li>
                <li><a title="فلورانس اسکاول شین">فلورانس اسکاول شین</a></li>
                <li><a title="زندگی‌نامه و آثار سعدی">زندگی‌نامه و آثار سعدی</a></li>
                <li><a title="کتاب‌های اطلاعات عمومی">کتاب‌های اطلاعات عمومی</a></li>
                <li><a title="زندگی‌نامه فردوسی و شاهنامه">زندگی‌نامه فردوسی و شاهنامه</a></li>
                <li><a title="زندگی‌نامه و اشعار حافظ شیرازی">زندگی‌نامه و اشعار حافظ شیرازی</a></li>
                <li><a title="زندگی‌نامه و اشعار سهراب سپهری">زندگی‌نامه و اشعار سهراب سپهری</a></li>
                <li><a title="معرفی کتاب‌های مشابه ملت عشق">معرفی کتاب‌های مشابه ملت عشق</a></li>
            </ul>
        </div>
        <div dir="rtl" style="padding:30px;float:left">
            <h5>دسته بندی پیشنهادی</h5>
            <ul><li><a title="رمان عاشقانه">رمان عاشقانه</a></li><li><a title="کتاب‌های علمی">کتاب‌های علمی</a></li>
                <li><a title="کتاب‌های صوتی">کتاب‌های صوتی</a></li>
                <li><a title="کتاب‌های پزشکی">کتاب‌های پزشکی</a></li>
                <li><a title="کتاب صوتی رایگان">کتاب صوتی رایگان</a></li>
                <li><a title="کتاب‌های انگیزشی">کتاب‌های انگیزشی</a></li>
                <li><a title="کتاب داستان کودکانه">کتاب داستان کودکانه</a></li>
                <li><a title="کتاب درسی و کمک‌درسی">کتاب درسی و کمک‌درسی</a></li></ul>
        </div>
        <div dir="rtl" style="padding:30px;float:left">
            <h5>کتاب‌های پیشنهادی</h5>
            <ul>
                <li><a title="دنیای سوفی">دنیای سوفی</a></li>
                <li><a title="شازده کوچولو">شازده کوچولو</a></li>
                <li><a title="غرور و تعصب">غرور و تعصب</a></li>
                <li><a title="مغازه خودکشی">مغازه خودکشی</a></li>
                <li><a title="کتاب اثر مرکب">کتاب اثر مرکب</a></li>
                <li><a title="کتاب بیشعوری">کتاب بیشعوری</a></li>
                <li><a title="وقتی نیچه گریست">وقتی نیچه گریست</a></li>
                <li><a title="کتاب نیمه تاریک وجود">کتاب نیمه تاریک وجود</a></li>
            </ul>
        </div>
        <div dir="rtl" style="padding:30px;float:left">
            <h5>طاقچه</h5>
            <ul>
                <li><a title="تماس با ما">تماس با ما</a></li>
                <li><a title="دربارهٔ طاقچه">دربارهٔ طاقچه</a></li>
                <li><a title="وبلاگ طاقچه">وبلاگ طاقچه</a></li>
                <li><a title="سوال‌های متداول">سوال‌های متداول</a></li>
                <li><a title="فرصت‌های شغلی">فرصت‌های شغلی</a></li>
            </ul>    
        </div>
        

        <div dir="rtl" style="padding:20px; float:left">
           
            <img src="/shop/static/img/logo2.png"  >

            <div style="width:400px">
            <p>طاقچه سایت و اپلیکیشن دانلود کتاب الکترونیکی و دانلود کتاب صوتی است. در طاقچه هزاران کتاب، مجله، روزنامه و کتاب گویا را می‌توانید دانلود کنید و با موبایل، تبلت و رایانه آن‌ها را بخوانید. در طاقچه کتاب‌های روانشناسی، رمان و داستان، کتاب‌های تاریخی، کتاب فلسفی و هزاران کتاب رایگان برای دانلود وجود دارد.</p><div class="preFooter_certification__3gXZD"><img src="" class="preFooter_logo__3LN6O" loading="lazy">
            </div>
        </div>
        
        




            <div class="footer_footerContent__2e-kF">
                <div class="container">
                    <div class="footer_socialSection__VG-Wj">
                        <div class="footer_socials__1Iodj">
                            <a class="footer_social__2sHOO" href="https://www.google.com/maps/place/Taaghche+%D8%B7%D8%A7%D9%82%DA%86%D9%87%E2%80%AD/@35.7226574,51.4237783,17z/data=!3m1!4b1!4m5!3m4!1s0x3f8e0188a38cfc7d:0x2e6d7a1ef79cb4f6!8m2!3d35.7226636!4d51.4259667?hl=en&amp;authuser=0" rel="noreferrer" target="_blank" title="Google map">
                                <img src="" alt="Google map" loading="lazy" title="Google map">
                            </a>
                            <a class="footer_social__2sHOO" href="https://instagram.com/taaghche_ebookstore/" rel="noreferrer" target="_blank" title="Instagram">
                                <img src="" alt="Instagram" loading="lazy" title="Instagram">
                            </a>
                            <a class="footer_social__2sHOO" href="https://www.aparat.com/taaghche/%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87%20%DA%A9%D8%AA%D8%A7%D8%A8%20%D8%A7%D9%84%DA%A9%D8%AA%D8%B1%D9%88%D9%86%DB%8C%DA%A9%DB%8C%20%D9%88%20%DA%A9%D8%AA%D8%A7%D8%A8%20%D8%B5%D9%88%D8%AA%DB%8C%20%7C%20%D8%B7%D8%A7%D9%82%DA%86%D9%87" rel="noreferrer" target="_blank" title="Aparat">
                                <img src="" alt="Aparat" loading="lazy" title="Aparat">
                            </a>
                            <a class="footer_social__2sHOO" href="https://www.twitter.com/taaghche_ebook" rel="noreferrer" target="_blank" title="Twitter">
                                <img src="" alt="Twitter" loading="lazy" title="Twitter">
                            </a>
                            <a class="footer_social__2sHOO" href="https://ir.linkedin.com/company/taaghche" rel="noreferrer" target="_blank" title="Linkedin">
                                <img src="" alt="Linkedin" loading="lazy" title="Linkedin">
                            </a>
                            <a class="footer_social__2sHOO" href="https://www.youtube.com/channel/UCCpsJn8e8r8f0EPfQ6R8JRw" rel="noreferrer" target="_blank" title="Youtube">
                                <img src="" alt="Youtube" loading="lazy" title="Youtube">
                            </a>
                            <a class="footer_social__2sHOO" href="https://telegram.me/taaghche_ebookstore" rel="noreferrer" target="_blank" title="Telegram">
                                <img src="" alt="Telegram" loading="lazy" title="Telegram">
                            </a>
                            <a class="footer_social__2sHOO" href="https://ble.ir/taaghche_ebookstore" rel="noreferrer" target="_blank" title="Bale">
                                <img src="" alt="Bale" loading="lazy" title="Bale">
                            </a>
                        </div>
                        <p>© کلیه حقوق این سایت محفوظ و متعلق به فروشگاه کتاب الکترونیک طاقچه است.</p>
                    </div>
                    <div class="footer_links__11IQt">
                        <a class="footer_link__6yVwL" title="ورود ناشران" href="https://publisher.taaghche.com/login">ورود ناشران</a>
                        <span class="footer_divider__efDUQ">&nbsp;|&nbsp;</span>
                        <a class="footer_link__6yVwL" title="شرایط استفاده" href="/termsAndConditions">شرایط استفاده</a>
                        <span class="footer_divider__efDUQ">&nbsp;|&nbsp;</span>
                        <a class="footer_link__6yVwL" title="سوالات متداول" href="/faq">سوالات متداول</a>
                        <span class="footer_divider__efDUQ">&nbsp;|&nbsp;</span>
                        <a class="footer_link__6yVwL" title="ارتباط با پشتیبانی" href="/contactus">ارتباط با پشتیبانی</a>
                    </div>
                </div>
                <div class="footer_version__2tgdf">
                    <span>©Taaghche.com</span>
                    <span>v<!-- -->3.54.2</span>
                </div>
        </div>
    </div>
    </footer>

</body>