{% extends 'base.html' %}
{% load one %}
{% load static %}


{% block content %}
<div>
    <img src="{{ book_detail.image.url }}" alt="">
</div>

   <div class="book-details">
        <h3 class="book-name">{{ book_detail.title }}</h3>
        
        <p>{{ book_detail.description }}</p>

        <p>  <strong> قیمت:</strong>  {{book_detail.price|persian_int}}    تومان  </p>
       
    </div>
    <div class="add-to-cart">
        <form method="post" action="{% url 'cart:cart_add' book_detail.id %}">
            {{ cart_add_book_form }}
            {% csrf_token %} 
            <input type="submit" value="افزودن به سبد خرید">
        </form>
    </div>


{% endblock %}